.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
}

.course-card {
  background: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 0 10px 20px rgba(0,0,0,.08);
  text-decoration: none;
  color: #0f172a;
}
.course-card:hover {
  transform: translateY(-5px);
}
